.payment-radio {
    align-items: center;
    margin-left: 0px !important;

    label {
        margin-right: 100px;
    }
}

.header{
    font-family: 'Comfortaa', cursive;
  margin-left: 150px;
}

.payment-type-error {
    color: red;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    border: 1px solid #e0b4b4!important;
    color: #9f3a38!important;
}
.checkout-row {
    justify-content: space-evenly !important;

   /*  p {
        text-align: center;
        color: red;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid red;
        padding: 7px;
    } */
}

.total_item_price{
    text-align: center;
        color: red;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid red;
        padding: 10px;
}

.item-data-container {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .item-group-name-size {
        display: flex;
        flex-direction: column;

        h3 {
            color: #ea5d5d;
            margin: 0;
        }
        span {
            color: grey; 
        }
    }

    h4 {
        margin: 0
    }
}

.discount-code {
    display: flex;
    justify-content: center;
}
.checkout {
    cursor: pointer;
    font-weight: bold;
	outline: none;
	background: var(--white);
	color: var(--main);
	width: 100%;
	padding: 12px 5px;
	font-size: 17px;
    text-transform: uppercase;
    transition: transform 2.5s ease;
    transform: scale(0.9);
    margin-left: 50%;
}
    .checkout:hover{
    background: rgb(87, 200, 92);
    border: 3px solid rgb(83, 195, 89);;
    color: white;
    font-weight: bold;
    transform: scale(1);

   
    
}
.col-3{
    margin-left: 20px;
    margin-top: 10px;
}

.summary {
    padding-left: 10px;
    font-weight: normal;
    font-size: 15px;   
}
.summary__heading {
    background: rgb(238, 234, 232);
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}
.summary__details {
    margin-top: 15px;
	//background: rgb(246, 238, 225);
	background: rgb(231, 230, 226);
	color: black;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}
.cart__name{
    margin-left: 320px;
}
.cart__image{
    margin-left: 40px;
}
.summary__cart {
    margin-top: 15px;
	background: rgb(250, 246, 246);
	color: black;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
}

