.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;

    
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
    font-size: 18px;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

